<%
let token = req.session.user.token
let currentUserId = req.session.user.id
let currentUsername = req.session.user.username
let searchUsername = typeof req.query.searchUsername == 'undefined' ? '' : req.query.searchUsername
let receiverId = typeof req.query.msgTo == 'undefined' ? '' : req.query.msgTo
let resultSearch = typeof result.resultSearch == 'undefined' ? [] : result.resultSearch;
let resultMessage = typeof result.resultMessage == 'undefined' ? [] : result.resultMessage;
%>
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>
<body>

<div class="container clearfix">
    <div class="people-list" id="people-list">
        <div class="profile-zone">
            <img src="/images/user-icon.png" alt="avatar"
                 style="width: 45px; height: 45px; background: transparent; margin-right: 10px;"/>
            @<%= currentUsername %><br>
            #<%= currentUserId %>
        </div>
        <div class="search">
            <form action="/" method="get">
                <input type="text" placeholder="search username" name="searchUsername" value="<%= searchUsername %>"/>
                <i class="fa fa-search"></i>
            </form>
        </div>
        <ul class="list">
            <% if(resultSearch.length > 0){ %>
                <% resultSearch.forEach((user) => { %>
                    <a href="/?searchUsername=<%= searchUsername %>&msgTo=<%= user.id_number %>">
                        <li class="clearfix">
                            <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar"/>-->
                            <img src="/images/user-icon.png" alt="avatar"
                                 style="width: 55px; height: 55px; background: transparent;"/>
                            <div class="about">
                                <div class="name" style="color: white;">@<%= user.username %></div>
                                <div class="status">
                                    <i class="fa fa-circle online"></i> online
                                </div>
                            </div>
                        </li>
                    </a>
                <% }) %>
            <% } %>
        </ul>
    </div>

    <div class="chat">
        <div class="chat-header clearfix">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar"/>

            <div class="chat-about">
                <div class="chat-with">Chat with @<%= 'Vincent Porte' %></div>
                <div class="chat-num-messages">already <%= resultMessage.length %> messages</div>
            </div>
            <i class="fa fa-star"></i>
        </div> <!-- end chat-header -->

        <div class="chat-history" id="chatroom-container">
            <ul id="chatroom">
                <% if(resultMessage.length > 0){ %>
                    <% resultMessage.forEach((msg) => { %>
                        <% if(msg.sender_id == currentUserId){ %>
                            <!-- you <=> sender messages -->
                            <%- renderChatUIYou(msg) %>
                        <% } else { %>
                            <!-- receiver messages -->
                            <%- renderChatUIYourFriend(msg) %>
                        <% } %>
                    <% }) %>
                <% } %>

                <!--                <li class="clearfix">-->
                <!--                    <div class="message-data align-right">-->
                <!--                        <span class="message-data-time">10:10 AM, Today</span> &nbsp; &nbsp;-->
                <!--                        <span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>-->

                <!--                    </div>-->
                <!--                    <div class="message other-message float-right">-->
                <!--                        Hi Vincent, how are you? How is the project coming along?-->
                <!--                    </div>-->
                <!--                </li>-->

                <!--                <li>-->
                <!--                    <div class="message-data">-->
                <!--                        <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>-->
                <!--                        <span class="message-data-time">10:12 AM, Today</span>-->
                <!--                    </div>-->
                <!--                    <div class="message my-message">-->
                <!--                        Are we meeting today? Project has been already finished and I have results to show you.-->
                <!--                    </div>-->
                <!--                </li>-->

            </ul>

        </div> <!-- end chat-history -->

        <div class="chat-message clearfix">
            <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"></textarea>

            <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
            <i class="fa fa-file-image-o"></i>

            <button type="button" id="send_message">Send</button>

        </div> <!-- end chat-message -->

    </div> <!-- end chat -->

</div> <!-- end container -->

<!--<script id="message-template" type="text/x-handlebars-template">-->
<!--    <li class="clearfix">-->
<!--        <div class="message-data align-right">-->
<!--            <span class="message-data-time">{{time}}, Today</span> &nbsp; &nbsp;-->
<!--            <span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>-->
<!--        </div>-->
<!--        <div class="message other-message float-right">-->
<!--            {{messageOutput}}-->
<!--        </div>-->
<!--    </li>-->
<!--</script>-->

<!--<script id="message-response-template" type="text/x-handlebars-template">-->
<!--    <li>-->
<!--        <div class="message-data">-->
<!--            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>-->
<!--            <span class="message-data-time">{{time}}, Today</span>-->
<!--        </div>-->
<!--        <div class="message my-message">-->
<!--            {{response}}-->
<!--        </div>-->
<!--    </li>-->
<!--</script>-->

</body>
</html>
<%
renderChatUIYou = function (objMsg) {
    let isYou = true
    return renderChatUI(objMsg, isYou);
}
renderChatUIYourFriend = function (objMsg) {
    let isYou = false
    return renderChatUI(objMsg, isYou);
}
renderChatUI = function (objMsg, isYou = true) {
    console.log(objMsg)
    if (isYou) {
        let result = '<li class="clearfix">'
        result += '<div class="message-data align-right">'
        result += '<span class="message-data-time">' + objMsg.readable_time + '</span>'
        result += '<span class="message-data-name">'
        result += '<i class="fa fa-circle me"></i> ' + objMsg.sender_display_name + '</span>'
        result += '</span>'
        result += '</div>'
        result += '<div class="message other-message float-right">' + objMsg.content + '</div>'
        result += '</li>'
        return result
    } else {
        let result = '<li>'
        result += '<div class="message-data">'
        result += '<span class="message-data-name">'
        result += '<i class="fa fa-circle online"></i> ' + objMsg.sender_display_name + '</span>'
        result += '</span>'
        result += '<span class="message-data-time">' + objMsg.readable_time + '</span>'
        result += '</div>'
        result += '<div class="message my-message">' + objMsg.content + '</div>'
        result += '</li>'
        return result
    }
    return ''
}
%>
<script>
    renderChatUI = function (objMsg, isYou = true) {
        if (isYou) {
            let result = '<li class="clearfix">'
            result += '<div class="message-data align-right">'
            result += '<span class="message-data-time">' + objMsg.readable_time + '</span>'
            result += '<span class="message-data-name">'
            result += '<i class="fa fa-circle me"></i> ' + objMsg.sender_display_name + '</span>'
            result += '</span>'
            result += '</div>'
            result += '<div class="message other-message float-right">' + objMsg.content + '</div>'
            result += '</li>'
            return result
        } else {
            let result = '<li>'
            result += '<div class="message-data">'
            result += '<span class="message-data-name">'
            result += '<i class="fa fa-circle online"></i> ' + objMsg.sender_display_name + '</span>'
            result += '</span>'
            result += '<span class="message-data-time">' + objMsg.readable_time + '</span>'
            result += '</div>'
            result += '<div class="message my-message">' + objMsg.content + '</div>'
            result += '</li>'
            return result
        }
        return ''
    }
</script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    $(function () {
        //make connection
        var socket = io.connect('http://localhost:3000')

        //buttons and inputs
        let message = $("#message-to-send")
        let send_message = $("#send_message")
        let chatroom = $("#chatroom")
        let token = '<%= token %>'
        let currentUserId = '<%= currentUserId %>'
        chatScrollBottom()

        //Emit message
        send_message.click(function () {
            socket.emit('new_message', {message: message.val(), to: '<%= receiverId %>', token: '<%= token %>'})
        })

        //Listen on new_message
        socket.on("new_message", (data) => {
            message.val('')
            if (data.receiverToken == token) {
                chatroom.append(renderChatUI(data.objMsg, false))
                chatScrollBottom()
            }
            if (data.senderId == currentUserId) {
                chatroom.append(renderChatUI(data.objMsg))
                chatScrollBottom()
            }
        })

        //Emit typing
        message.bind("keypress", () => {
            socket.emit('typing')
        })

        enterToSendMsg()
    });

    function chatScrollBottom() {
        let chatroomContainer = $("#chatroom-container")
        chatroomContainer.animate({
            scrollTop: chatroomContainer[0].scrollHeight
        }, 300)
    }

    // send message when press enter
    function enterToSendMsg(){
        $(document).on('keypress', '#message-to-send', function (e){
            if(e.keyCode==13){
                $('#send_message').click()
            }
        })
    }
</script>